<ui-gmap-google-map control="drmap.map.control" center='drmap.map.center' zoom='drmap.map.zoom' options='drmap.map.options'>
  <ui-gmap-marker
    ng-repeat="marker in drmap.markers"
    coords="marker.coords" options="marker.options"
    idkey="marker.id"
    events="marker.events"></ui-gmap-marker>
  <ui-gmap-marker
      coords="drmap.user_marker.coords" options="drmap.user_marker.options"
      idkey="drmap.user_marker.id"
      events="drmap.user_marker.events"></ui-gmap-marker>
</ui-gmap-google-map>

<input ng-model="user_address" id="user_address" class="map-control-input controls"/>
