.modal-primary,
.modal-info,
.modal-success,
.modal-warning,
.modal-danger {
  .modal-header {
    color: #fff;
    border-radius: 5px 5px 0 0;
  }
}
.modal-primary .modal-header {
  background: material-color('blue', '500');
}
.modal-info .modal-header {
  background: material-color('amber', '500');
}
.modal-success .modal-header {
  background: material-color('green', '500');
}
.modal-warning .modal-header {
  background: material-color('orange', '500');
}
.modal-danger .modal-header {
  background: material-color('red', '500');
}
