<md-container>
  <md-list class="bg-color-grey-50">
    <md-subheader class="md-no-sticky">Users</md-subheader>
    <md-list-item ng-repeat="user in admin.users" class="md-with-secondary secondary-button-padding">
      <p>
        <strong>{{user.name}}</strong> - <span class="text-muted">{{user.email}}</span>
      </p>
      <md-button ng-click="admin.delete(user)" class="trash" class="md-warn"><span class="fa fa-trash"></span> Delete</md-button>
    </md-list-item>
  </md-list>
</md-container>
