<div class="form-container" flex="50" flex-offset="25">
  <form name="form" ng-submit="vm.changePassword(form)" novalidate>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Change password</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>Current Password</label>
          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <div ng-messages="form.password.$error" multiple>
            <div ng-message="mongoose-error">
              {{ vm.errors.other }}
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>New Password</label>
          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
            <div ng-messages="form.newPassword.$error" multiple>
              <div ng-message="required">
                Please enter a valid password.
              </div>
              <div ng-message="minlength">
                Password must be at least 3 characters.
              </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" ng-model="vm.user.confirmPassword"
            match="vm.user.newPassword"
            ng-minlength="3"
            required
          />
          <div ng-messages="form.confirmPassword.$error" multiple>
            <div ng-message="match">
              Passwords must match.
            </div>
          </div>
        </md-input-container>

        <p class="help-block">{{ vm.errors.other }}</p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="center">
        <md-button type="submit" class="md-raised md-primary">Save</md-button>
        <md-button ui-sref="main" type="button" class="md-raised md-warn">Cancel</md-button>
      </md-card-actions>
    </md-card>
  </form>
</div>
