<md-button class="md-fab md-warn fab-login" aria-label="Signup" ui-sref="signup">
  <md-icon class="zmdi zmdi-account-add zmdi-hc-2x"></md-icon>
</md-button>

<div flex-xs layout="row" layout-align="center center">
  <form flex="50" class="form" name="form" ng-submit="vm.login(form)">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Sign in</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
          <md-input-container class="md-block">
            <md-icon class="zmdi zmdi-email email"></md-icon>
            <input ng-model="vm.user.email" ng-pattern="/^.+@.+\..+$/" type="email" placeholder="Email" name="email" ng-required="true">

            <div ng-messages="form.email.$error">
              <div ng-message-exp="['required', 'pattern']">Please enter a valid email.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <md-icon  class="zmdi zmdi-key"></md-icon>
            <input ng-model="vm.user.password" type="password" placeholder="Password" name="password" required>

            <div ng-messages="form.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <p class="help-block">{{ vm.errors.other }}</p>
      </md-card-content>

      <md-card-actions layout="column" layout-align="center">
        <md-button type="submit" class="md-raised md-primary">Login</md-button>
      </md-card-actions>
    </md-card>
  </form>
</div>
