
<md-content class="md-padding">
  <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile ng-repeat="item in items"
        ng-class="{
          'bg-color-red-400': item.rate >= 4,
          'bg-color-amber-400': item.rate < 4
        }"
        md-rowspan="1" md-colspan="1" md-colspan-sm="2" md-colspan-md="4" md-colspan-lg="2">
      <span class="md-headline">{{item.name}}</span>
      <br/>
      <ul ng-repeat="tag in item.tags" ng-if="tag" class="label label-primary">
        <li>{{tag}}</li>
      </ul>
      <md-grid-tile-footer>
        <md-button>Action 1</md-button>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</md-content>
