<md-toolbar class="navbar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <i class="zmdi zmdi-menu"></i>
    </md-button>
    <h2>
      <span>OBOM</span>
    </h2>
    <md-button ng-repeat="item in nav.menu" ui-sref-active="active">
        <a ui-sref="{{item.state}}">{{item.title}}</a>
    </md-button>
    <md-button ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></md-button>
    <span flex></span>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></md-button>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Sign in</a></md-button>
    <md-button ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </md-button>
    <md-button ng-show="nav.isLoggedIn()" ui-sref-active="active" aria-label="settings"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></md-button>
    <md-button ng-show="nav.isLoggedIn()"><a ui-sref="logout">Sign out</a></md-button>
    <md-button class="md-icon-button" aria-label="More">
      <i class="zmdi zmdi-more-vert"></i>
    </md-button>
  </div>
</md-toolbar>
