<md-toolbar class="navbar" md-scroll-shrink hide-sm>
  <div class="md-toolbar-tools">
    <h2>
      <span></span>
      <md-button ui-sref="main">OBOM</md-button>
    </h2>
    <md-button ng-repeat="item in nav.menu" ui-sref-active="active" ui-sref="{{item.state}}">
      {{item.title}}
    </md-button>
    <md-button ng-show="nav.isAdmin()" ui-sref-active="active" ui-sref="admin">Users</md-button>
    <span flex></span>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="signup">Sign up</md-button>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="login">Sign in</md-button>

    <md-menu>
      <md-button ng-show="nav.isLoggedIn()" aria-label="User" ng-click="$mdOpenMenu()">
        {{ nav.getCurrentUser().name }}
        <md-icon md-svg-icon="account"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="settings"><span md-menu-align-target>My Profil</span></md-button>
        </md-menu-item>
        <md-menu-divider ng-show="nav.isLoggedIn()"></md-menu-divider>
        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="logout"><span md-menu-align-target>Sign out</span></md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<md-toolbar class="navbar" md-scroll-shrink hide-gt-sm>
  <div class="md-toolbar-tools">
    <h2>
      <span></span>
      <md-button ui-sref="main">OBOM</md-button>
    </h2>

    <md-menu>
      <md-button aria-label="User" ng-click="$mdOpenMenu()">
        <md-icon md-svg-icon="dots-vertical"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in nav.menu" ui-sref-active="active">
          <md-button ui-sref="{{item.state}}">
            {{item.title}}
          </md-button>
        </md-menu-item>

        <md-menu-item ng-show="nav.isAdmin()">
          <md-button ui-sref-active="active" ui-sref="admin">Users</md-button>
        </md-menu-item>
        <md-menu-divider ng-hide="nav.isLoggedIn()"></md-menu-divider>

        <md-menu-item ng-hide="nav.isLoggedIn()">
          <md-button ui-sref-active="active" ui-sref="signup">Sign up</md-button>
        </md-menu-item>
        <md-menu-item ng-hide="nav.isLoggedIn()">
          <md-button ui-sref-active="active" ui-sref="login">Sign in</md-button>
        </md-menu-item>

        <md-menu-divider ng-show="nav.isLoggedIn()"></md-menu-divider>

        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="settings"><span md-menu-align-target>My Profil</span></md-button>
        </md-menu-item>
        <md-menu-divider ng-show="nav.isLoggedIn()"></md-menu-divider>
        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="logout"><span md-menu-align-target>Sign out</span></md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
