<md-toolbar class="navbar" md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Toggle">
      <i class="mdi mdi-menu" ng-click="nav.toggleSidenav()"></i>
    </md-button>
    <h2>
      <span></span>
      <md-button ui-sref="main">OBOM</md-button>
    </h2>
    <md-button ng-repeat="item in nav.menu" ui-sref-active="active" ui-sref="{{item.state}}">
      {{item.title}}
    </md-button>
    <md-button ng-show="nav.isAdmin()" ui-sref-active="active" ui-sref="admin">Admin</md-button>
    <span flex></span>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="signup">Sign up</md-button>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="login">Sign in</md-button>
    <md-button ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </md-button>
    <md-button ng-show="nav.isLoggedIn()" ui-sref-active="active" aria-label="settings" ui-sref="settings"><i class="zmdi zmdi-wrench"></i></md-button>
    <md-button ng-show="nav.isLoggedIn()" ui-sref="logout">Sign out</md-button>
    <md-button class="md-icon-button" aria-label="More">
      <i class="mdi mdi-dots-vertical"></i>
    </md-button>
  </div>
</md-toolbar>
