<header class="banner"><img src="assets/images/Obom_Logo.png" alt="Logo"></header>
<md-content layout="row" layout-padding class="bg-color-grey-50">
  <form name="profileForm" ng-submit="main.suggest(profileForm)" flex>
    <md-input-container class="md-block" flex="100">
      <label>Distance Max (m)</label>
      <input type="number" ng-model="main.profile.maxDistance">
    </md-input-container>
    <md-chips readonly="false" ng-model="main.profile.tags"></md-chips>
    <br />
    <div flex-align="center center" class="text-center">
      <md-button type="submit" class="md-raised md-primary">Suggest me !</md-button>
    </div>
  </form>
</md-content>

<md-content layout="row" layout-align="center center" class="proposals">
  <md-card ng-repeat="proposal in main.proposals" class="md-raised"
    flex="25" flex-xs="100" flex-sm="45" flex-md="30"
    ng-click="main.choose(proposal)">
    <md-card-header>
      <md-card-avatar>
        <md-icon class="mdi mdi-silverware"></md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{proposal.name}}</span>
        <span class="md-subhead">{{proposal.adress}} - {{proposal.city}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p class="text-right"><md-icon class="mdi mdi-star"></md-icon> {{proposal.minRate}}</p>
      <p>
        <md-chips ng-model="proposal.tags" readonly="true"></md-chips>
      </p>
    </md-card-content>
  </md-card>
  <md-card ng-if="main.proposals.length <= 0" flex>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">No results</span>
      </md-card-header-text>
    </md-card-header>
  </md-card>
</md-content>
