.thing-form {
  padding: 20px 0;
  background-color: $white;
}

.banner {
  border-bottom: none;
  position: relative;
  padding: 30px 15px;
  text-align: center;
  text-align: center;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.navbar-text {
  margin-left: 15px;
}
