.thing-form {
  padding: 20px 0;
  background-color: $white;
}

.banner {
  border-bottom: none;
  position: relative;
  padding: 30px 15px;
  text-align: center;
  text-align: center;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.navbar-text {
  margin-left: 15px;
}

md-card {
  cursor: pointer;
}

md-card-header-text md-title {
  font-size: large;
}

.proposals md-card:nth-child(2) md-card-avatar md-icon {
  background: material-color('red', '400');
}

.mdi-star {
  font-size: x-large;
  color: material-color('yellow', '400');
}

.text-right {
  text-align: right;
}
