<div flex-xs layout="row" layout-align="center center">
  <form class="form" flex="50" name="form" ng-submit="vm.register(form)">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Sign up</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
          <md-input-container class="md-block">
            <md-icon class="zmdi zmdi-account"></md-icon>
            <input ng-model="vm.user.name" type="text" placeholder="Name" name="name" required>

            <div ng-messages="form.name.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <md-icon class="zmdi zmdi-email"></md-icon>
            <input ng-model="vm.user.email" ng-pattern="/^.+@.+\..+$/" type="email" placeholder="Email" name="email" required>

            <div ng-messages="form.email.$error">
              <div ng-message-exp="['required', 'pattern']">Please enter a valid email.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <md-icon  class="zmdi zmdi-key"></md-icon>
            <input ng-model="vm.user.password" type="password" placeholder="Password" name="password" ng-minlength="3">

            <div ng-messages="form.password.$error">
              <div ng-message="required">Password must be at least 3 characters.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <md-icon  class="zmdi zmdi-lock"></md-icon>
            <input ng-model="vm.user.confirmPassword" type="password" placeholder="Confirm Password" name="confirmPassword"
              required ng-minlength="3" match="vm.user.password">

            <div ng-messages="form.password.$error">
              <div ng-message="required">Passwords must match.</div>
            </div>
          </md-input-container>

          <p class="help-block">{{ vm.errors.other }}</p>
      </md-card-content>

      <md-card-actions layout="column" layout-align="center">
        <md-button type="submit" class="md-raised md-primary">Sign up</md-button>
        <br/>
        <span class="text-center">Already a member? <a ui-sref="login">Login</a></span>
      </md-card-actions>

    </md-card>
  </form>
</div>
